APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=America/Mazatlan
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=bolsa_trabajo_ut
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=bolsa_trabajo

CORS_ALLOWED_ORIGINS=http://localhost:4200
JWT_SECRET=cambia-este-secreto

SIEST_AUTH_MOCK=true
SIEST_LOGIN_URL=https://www.utdelacosta.edu.mx/SIEstBackend/api/v1/login
SIEST_MOCK_ROLE_ID=40
SIEST_MOCK_SUB=6628
SIEST_MOCK_CVE_PERSONA=12668
