APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=America/Mazatlan
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bolsa_trabajo
DB_USER=postgres
DB_PASSWORD=password
DB_SCHEMA=bolsa_trabajo

FRONTEND_URL=http://localhost:4200
CORS_ALLOWED_ORIGINS=http://localhost:4200

JWT_SECRET=change_me
JWT_TTL=3600

SIEST_AUTH_DRIVER=database
# database = usa usuario_siest/vw_usuario_siest_login del DDL v3
# mock = usa usuarios hardcodeados de desarrollo
# remote = usa endpoints reales si algún día se conecta SIEst real
# SIEST_LOGIN_URL=https://www.utdelacosta.edu.mx/SIEstBackend/api/v1/login
# SIEST_EGRESADO_URL=https://www.utdelacosta.edu.mx/SIEstBackend/api/v1/egresados

EXTERNAL_JOBS_API_URL=

DENUE_TOKEN=
DENUE_BASE_URL=https://www.inegi.org.mx/app/api/denue/v1/consulta/Buscar
DENUE_DEFAULT_LAT=21.8120
DENUE_DEFAULT_LON=-105.2080
DENUE_DEFAULT_RADIUS=5000

THEIRSTACK_API_KEY=
THEIRSTACK_BASE_URL=https://api.theirstack.com/v1/jobs/search
THEIRSTACK_COUNTRY_CODE=MX
THEIRSTACK_POSTED_MAX_AGE_DAYS=60
